.container{
    background-color: #fff;
    width: 250px;
    padding: 40px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid #d3d3d3; 
}

.logo{
    width: 150px;
}

.links{
    margin-top: 24px;
    list-style: none;
}

.links li{
    height: 45px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap:12px;
    cursor: pointer;
    color:#5f5f5f;
   
}

.links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap:12px;
    color:#5f5f5f;
}

.selected{
    background-color: var(--green-200);
    padding: 0 8px;
    border-radius: 8px;
    color:var(--green) !important;
}

.selected a{
    color:var(--green) !important;
}

.links li i{
    font-size: 24px;
}

.button_logout{
    position: absolute;
    bottom: 64px;
}

