:root {
  --max-width: 1650px;
  --green-100:#EDF2F1;
  --green-200:#EDF2F1;
  --green-300:#F2F8F7;
  --green:#007456;
  --yellow-100:#FAF6EB;
  --yellow: #F4B93C;
  --red-100:#FDE7DE;
  --lilas-100: #F5ECFF;
  --lilas:#6C4CBE;
  --black:#000;
  --padding-horizontal:12vw;
}

@font-face {
  font-family: Thiccboi-black;
  src: url('./fonts/THICCCBOI-Black.woff2');
}

@font-face {
  font-family: Thiccboi-bold;
  src: url('./fonts/THICCCBOI-Bold.woff2');
}

@font-face {
  font-family: Thiccboi-regular;
  src: url('./fonts/THICCCBOI-Regular.woff2');
}

@font-face {
  font-family: Thiccboi-semibold;
  src: url('./fonts/THICCCBOI-SemiBold.woff2');
}

@font-face {
  font-family: Thiccboi-medium;
  src: url('./fonts/THICCCBOI-Medium.woff2');
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Thiccboi-regular;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background: #fff;
}

img{
  max-width: 100%;
}


/*============ DOTS SWIPPER =============*/

.hightlight-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: .2 !important;
  background: teal !important;
  margin-top: 124px !important;
}

.hightlight-swiper .swiper-pagination-bullet-active {
  margin-top: 124px !important;
  color: #fff;
  opacity: 1 !important;
  border-radius: 6px !important;
  background: var(--green) !important;
}