.content_service{
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 8px; 
    padding: 32px;
}

.enable, .disable{
    background: var(--green-200);
    padding: 8px 12px;
    color:var(--green);
    font-family: Thiccboi-semibold;
    font-size: 14px;
    border-radius: 24px;
}

.disable{
    background-color: var(--red-100);
    color:#ff3e3e;
}

.title{
    font-family: Montserrat;
    font-size: 17px;
    opacity: .7;
    margin-bottom: 24px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table  td {
    height: 55px;
    padding: 8px;
}

.table tr{
    border-bottom:1px solid #e2e2e2;
   
}

.table th { 
    text-align: left;
    font-family: Thiccboi-semibold;
}

.button_add, .button_submit{
    width: 160px;
    height: 45px;
    border-radius: 24px;
    border: none;
    color: var(--green);
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--green);
    font-family: Thiccboi-semibold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_edit, .button_block, .button_enable{
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.button_enable{
    background-color: var(--green-200);
    color: var(--green);
}

.button_block{
    background: var(--red-100);
    color:#f11e1e;
}

.button_edit{
    background-color: #dbdbff;
    color:#1335f5
}

.container_create_service{
    display: flex;
    gap:16px
}

.form{
    flex: 1;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 32px;
}

.content_preview{
   width: 500px;
}

.content_input{
    display: flex;
    gap:12px
}

.box_field{
    display: flex;
    flex-direction: column;
    gap:12px;
    width: 100%;
}

.input_list{
    border: 1px solid #b9b9b9;
    padding: 0 16px;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    transition: .5s ease-in-out all;
}

.box_textarea{
    display: flex;
    flex-direction: column;
}
.box_textarea textarea{
    margin-top: 16px;
    height: 80px;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    padding: 12px;
}

.box_textarea textarea::placeholder{
    font-size: 14px;
}

.button_submit{
    background-color: var(--green);
    color:#fff;
    border-width: 0;
}


.box_button{
    display: flex;
    margin-top: 40px;
    gap:24px;
}