.container_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: var(--green-100);
    padding: 0 var(--padding-horizontal);
    z-index: 999;
}

.content_link{
    display: flex;
    gap:64px
}


.content_link ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}