.container{
    background-color: var(--green-100);
    height: 100dvh;
    position: relative;
    
}

.section{
    padding-left:270px;
    padding-right:20px;
    padding-top: 24px;
   
}












