.container{
    max-width: var(--max-width);
    padding: 64px var(--padding-horizontal);
    margin-top: 56px;
    background-color: var(--yellow-100);
    margin-bottom: 40px;
}
.title{
    font-family: Montserrat;
    font-size: 24px;
}
.box_description{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.box_description p{
    opacity: .7;
}

.providers{
    margin-top: 32px;
    /*display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap:24px*/
}

.card_provider{
    background-color: #fff;
    border-radius: 12px;
    height: 200px;
    width: 250px,;
    padding: 24px;
    margin-bottom: 48px;
}

.box_avatar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username{
    margin-top: 16px;
    font-size: 17px;
    margin-bottom: 4px;
    font-family: Thiccboi-semibold;
}
.total{
    margin-bottom: 24px;
    font-size: 14px;
    opacity: .7;
}

.data{
    font-size: 13px;
    opacity: .7;
}

.button_contact{
    width: 125px;
    height: 40px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    font-size: 14px;
    color:var(--green);
    background: transparent;
    border:1px solid var(--green);
    cursor: pointer;
    
}

.button_contact i{
    font-size: 16px;
}